/* FONTS */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
      url('../fonts/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
      url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* COMMON STYLES */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}
.container{
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
img{
  max-width: 100%;
  display: block;
}
/* HEADER */
.site-header{
  background: #F6F6F9;
  padding-bottom: 23px;
  margin-bottom: 23px;
}
/* Introduction */
.introduction{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.currencys{
  display: flex;
  margin-right: 17px;
}
.currency{
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
}
.currency + .currency{
  margin-left: 20px;
}
.currency span:first-child {
  color: #285193;
  font-weight: bold;
  margin-right: 5px;
}
.offer{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.search {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  margin-right: 22px;
  cursor: pointer;
}
.language{
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 40px;
  margin-right: 22px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #535353;
  cursor: pointer;
}
.language::before{
  content: "";
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background-image: url("../images/uz.png");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.subscribe{
  height: 40px;
  display: flex;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.subscribe::before{
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url("../images/tg.png");
}

/* NAVIGATION */
.site-nav{
  margin-bottom: 18px;
}
.site-list{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  padding: 21px 24px;
  list-style: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  
}
.site-link{
  text-decoration: none;
  color: #515151;
}
.site-link:hover{
  color: #295091;
}

/* CORAVIRUS */
.coronavirus{
  margin-bottom: 20px;
}
.corana-wrapper{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 40px 24px;
  background-color: #F6F6F9;
}
.corona{
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.corona-title{
  flex: 2;
}
.corona + .corona{
  padding-left: 30px;
  padding-right: 30px;
}
.corona  h4, .corona  p{
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.corona  p{
  margin-top: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}
.corona::before{
  content: "";
  background-repeat: no-repeat;
  margin-right: 25px;
}
.corona-title::before{
  width: 56px;
  height: 45px;
  background-image: url("../images/corona.png");
}
.corona-sick::before{
  width: 37px;
  height: 38px;
  background-image: url("../images/medical-mask.png");
}
.corona-healed::before{
  width: 37px;
  height: 38px;
  background-image: url("../images/cil_smile.png");
}
.corona-dead::before{
  width: 38px;
  height: 39px;
  background-image: url("../images/died.png");
}
.corona-title a{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}
.corona-sick{
  color: #DB0000;
  border-left: 2px solid #EB5569;
}
.corona-healed{
  color: #05B135;
  border-left: 2px solid #F4CCD1;
}
.corona-dead{
  border-left: 2px solid #F4CCD1;
}


/* SITE-MAIN */

  /* today-news */
  .today-news{
    margin-bottom: 54px;
  }
.today-news-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.today-news-item{
  width: 386px;
  margin-bottom: 18px;
}
.today-news-item:not(:nth-child(3n)){
  margin-right: 21px;
}
.today-news-link{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.today-post-text{
  padding: 0;
  margin-top: 11px;
  margin-bottom: 11px;
}
.today-post-date{
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6B6D97;
}

/* NOTIFICATION */
.enable-Notification{
  margin-bottom: 40px;
}
.Notification-wrapper{
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
}
.Notification-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 24px;
}
.Notification-text{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  
  color: #000000;
}
.Notification-text::before{
  content: "";
  width: 31px;
  height: 35px;
  margin-right: 17px;
  background-image: url("../images/bell-icon@2x.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.Notification-button{
  padding: 8px 10px;
  background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  color: #FFFFFF;
}

/* MAIN-NEWS */

.main-news{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 38px;
}

/* last-news */
.last-news{
  width: 814px;
}
.last-news-title{
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.last-news-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.last-news-item{
  margin-bottom: 20px;
}
.last-news-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  
}
.news-article{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
.article-title{
  margin: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.article-text{
  margin: 10px 0;
}
.article-date{
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}
.article-date::before{
  width: 18px;
  height: 20px;
  content: "";
  background-image: url("../images/ic_outline-date-range.svg");
  background-repeat: no-repeat;
}
.last-news-button{
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border: none;
  background: #295093;
  border-radius: 5px;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}
/* popular */
.popular{
  width: 386px;
  border-radius: 5px;
}
/* popular-news */
.popular-news{
  padding: 20px;
  margin-bottom: 20px;
  background: #F6F6F9;
}
.popular-news-title{
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
}
.popular-news-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.popular-news-item + .popular-news-item{
  padding-top: 18px;
  margin-top: 15px;
  border-top: 4px solid #E4E4E4;
}
.popular-news-link{
  text-decoration: none;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.popular-news-text{
  margin: 0;
  margin-bottom: 11px;
}
.popular-news-date{
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}

/* suggetion-subscribe */
.suggetion-subscribe{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 38px;
  padding: 37px 20px;
  background: #F6F6F9;
  border-radius: 5px;
}
.suggetion-subscribe-img{
  width: 225px;
  height: 177px;
  background-image: url("../images/Group\ 1.png");
}
.suggetion-subscribe-info{
  width: 526px;
  margin-right: 60px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.suggetion-subscribe-title{
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #295093
}
.suggetion-subscribe-text{
  margin: 0;
  margin-top: 10px;
}
.suggetion-subscribe-app{
  display: flex;
  flex-wrap: nowrap;
}
.googleplay-img{
  margin-right: 20px;
}

/* footer */
.site-footer{
  padding-top: 18px;
  padding-bottom: 18px;
  background: #295093;
}
/* footer-subscribe */
.footer-subscribe{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 3px solid #133C82;
}
.footer-logo{
  text-decoration: none;
}
.footer-subscribe-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer-subscribe-info-text{
  margin: 0;
  margin-right: 15px;
}
.footer-subscribe-button{
  padding: 10px;  
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
}
.footer-subscribe-button::before{
  display: inline-block;
  content: "";
  margin-right: 5px;
  width: 18px;
  height: 20px;
  vertical-align: middle;
  background-image: url("../images/cib_telegram.png");
}